html {
    /*background: rgb(107,0,214);*/
    background: linear-gradient(rgba(107,0,214,1), rgba(69,0,147,1)) fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background: none;
    margin: 0px;
    box-shadow: black;
    height: 100%;
    color: white;
    /*margin-top: 0.5%;*/
    /*margin-bottom: 0.5%;*/
}

#user_welcome_message {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bold;
    margin-left: 10px;
    width: auto;
    flex-shrink:0;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 25px;
    font-weight: bolder;
    background-color: gold;
    color: black;
    border-radius: 10%;
    font-family: "Gill Sans", sans-serif;
    cursor: pointer;
}
.topbar {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    left: 0;
    padding: 0.5% 1% 0.5% 1%;
    font-size: 15px;
    background: black;
    color: white;
    vertical-align: center;
}


#logout {
    background: transparent;
    cursor:pointer;
    color:#CC2000;
    font-size:15px;
    padding: 0px 10px;
    border: none;
    font-weight: bold;
}
#logout:hover {
    text-decoration:underline;
}

#user_welcome_message {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bold;
    margin-left: 10px;
    width: auto;
    flex-shrink:0;
}

h3 {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 40px;
    color: gold;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.table-details {
    display: inline-flex;
    position: relative;
    margin: 5px 15% 10% 15%;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
}

.single-table {
    display: block;
    position: relative;
    margin: 0 0 0 0;
    padding: 15px 30px 10px 30px;
    border: 0.5px solid #3e3e3e;
    background-color: rgba(0, 0, 0, 0.65);
    height: 320px;
    width: 17.5%;
    min-width: 150px;
}

h5 {
    font-size: 20px;
    color: #c53515;
    padding: 2px 2px 2px 2px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.button {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background: #d0451b linear-gradient(180deg, #d0451b, #bc3315);
    border-radius:1px;
    border:1px solid #942911;
    display:flex;
    cursor:pointer;
    padding:6px 10px;
    margin-left: auto;
    margin-right: 2%;
    font-size: 15px;
    height: 40px;
}
.button:hover {
    background:linear-gradient(180deg, #bc3315, #d0451b);
    background-color:#bc3315;
}
.button:active {
    position:relative;
    top:1px;
}

.dropdown {
    display: none;
    right:0;
    top:43px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    position: fixed;
    height: 320px;
    justify-content: center;
}

.inputfield {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #7d7d7d;
    background: transparent;
    color: white;
    width: 60%;
    min-width: 150px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.dropdown>form {
    width: 30%;
    padding: 10px 5% 10px 5%;
    /*padding-left: 15%;*/
    /*padding-right: 15%;*/
}

.insert-movie {
    border-left: 1px dashed #a3a3a3;
}

.searchbtn {
    width: 30%;
    min-width: 80px;
    text-align: center;
    margin: 20px auto 10px auto;
    justify-content: center;
}